---
import Titulo from './titulo.astro';
---

<section class='am-hero'>
  <Titulo />
</section>
<style>
  .am-hero {
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    place-content: center;
  }
</style>
