---
import { baseUrl } from '@/utils/functions';
import Titulo from './titulo.astro';
const logo = baseUrl('/assets/next-js-logo.svg');
---

<section class='am-hero'>
  <!-- <h1>
    TITLE <img src={logo} alt='Logo' />
  </h1> -->
  <Titulo />
</section>
<style>
  .am-hero {
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    place-content: center;
  }

/*   h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vmax;
    text-align: center;
    text-wrap: balance;
    color: transparent;
    background-image: var(--gradient);
    background-clip: text;

    img {
      width: 4vmax;
      transform: translateY(0.3vmax);
    }
  } */
</style>
